.admin-content{
	display: flex;
	padding: 30px;
	flex-direction: row;
	gap: 10%;

}
.admin-content .sidebar{
	flex:1;
	padding: 20px;
	box-shadow: 0 0.4rem 3rem rgba(0,0,0,0.1), inset 0 -1px 0 rgba(255,255,255,0.15);
	border: none;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	min-width: 310px;
	
}
.admin-content .sidebar h2{

	text-align: center;
	margin-bottom: 30px;
	
}

.admin-content .sidebar a{
	padding: 10px 0px 15px 0px;
	border-bottom: 1px solid #e0e0e0;
	transition: all 0.3s;
}

.admin-content .sidebar a:hover{
	padding-left: 10px;
	transition: all 0.3s;
}

.admin-content .main-side{
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.admin-content .main-cont-dashboard{
	flex: 4;
	padding: 20px;
	padding-top: 0px;
}
.admin-content .inside{
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-shadow: 0 0.4rem 3rem rgba(0,0,0,0.1), inset 0 -1px 0 rgba(255,255,255,0.15);
}
.inside form .title {
	display: flex;
	flex-direction: column;

}
.inside form .title label{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
	
}
.inside .editPic{
	border-left:1px solid #e0e0e0 ;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	gap:20px;

}
.editPic label{
	font-weight: 500;
	font-size: 16px;
}
.inside .editPic img{
	width:300px; height:300px; object-fit: cover;border-radius:150px;
}



table{
	width: 100%;
	border-collapse: collapse;
	font-size: 1.1rem;
}
th,
td{
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid #d3d3d3;
	min-width: 100px;
}


.admin-content .page-title{
	text-align: center;
	margin-bottom: 1.5rem;
}
.edit{
	color: green;
}
.delete{
	color: red;
}
.publish{
	color: blue;
}
.edit:hover,
.delete:hover,
.publish:hover{
	text-decoration: underline;
}
form div{
	margin-bottom: 15px;
	
}