.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background-color: white;
    box-shadow: 0 0.4rem 3rem rgba(0,0,0,0.1), inset 0 -1px 0 rgba(255,255,255,0.15);
    z-index: 1020;
    
}
.header .left-part{
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    flex-shrink: 0;
}

.header .left-part .logo {
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
}

.middle{
    flex: 1;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;

}
.header .middle a:hover{
    cursor: pointer;
    color: #c8c8fa;
}

.home{
    cursor: pointer;
    transition: color 0.15s;

}

.home:hover{
    cursor: pointer;
    color: #c8c8fa;

}

.right-part{
    display: flex;
    justify-content: end;
    gap: 10px;
    flex-shrink: 0;
    
}


.right-part .toggle_btn{
    margin-right: 10px;
    align-items: center;
    padding: 8px;
    display: none;
   
}
.right-part .toggle_btn .fa-solid fa-bars {
    width: 36px;
}
.btnLogin:hover{
    color: #1e74e3;
    background-color: white;
    border: 1px solid #1e74e3;
    cursor: pointer;
}



.dropdown_menu {
    display: block;
    position: fixed;
    right: 1rem;
    height: 0px;
    top: 80px;
    width: 300px;
    background-color: white;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(255,255,255,0.15);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;
}

.dropdown_menu.open{
    padding: 20px 0;
    height:fit-content;

}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .btnLogin{
    width: 50%;
    display: flex;
    justify-content: center;
}

@media (max-width: 576px){ 
    .header .toggle_btn {
        display: flex;
    }
    .header .dropdown_user{
        display: none;
    }
    .header .right-part .btnLogin{
        display: none;
    }
        
    .dropdown_menu{
        display: block;
        left: 2rem;
        width: unset;
    }       

}


.dropbtn {
    background-color: #1e74e3;
    color: white;
    padding: 20px 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 100%;
  }
  
  .dropdown_user {
    position: relative;
    height: 100%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding: 16px 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown_user:hover .dropdown-content {
    display: block;
  }
  
  .dropdown_user:hover .dropbtn {
    background-color: #287deb;
  }
